section {
  margin-top: 100px;
  
  .card {
    margin: 10px 0 0;
    padding: 10px 15px;
    border: 1px solid #000;
  }

  ul {
    padding: 0;

    li {
      list-style: none;

      img {
        width: 100%;
      }

      p {
        margin: 5px 0 0;
      }
    }
  }
}
