.welcome {
  margin-top: 100px;
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  animation: Title-logo-Down infinite 5s linear;
}
.cache-h1 {
  overflow: hidden;
  clear: both;
  h1 span {
    color: #61dafb;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes Title-logo-Down {
  0% { transform: translateY(0); }
  50% { transform: translateY(50px); }
  100% { transform: translateY(0); }
}
