.containerMovie {
    padding: 10px 15px;
}

.containerMovie ul {
    margin: 0;
    padding: 0;
}

.containerMovie ul li {
    display: inline-block;
    position: relative;
    width: calc(33% - 40px);
    padding: 10px 20px;
}

.containerMovie ul li img {
    max-width: 100%;
}

.containerMovie ul li p {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

.containerMovie ul li:hover p {
    display: inline-block;
}
