nav {
    display: inline-block;
    width: 100%;
    background-color: #000;
}
nav div {
    width: calc(100% - 70px);
    margin: 0 0 0 70px;
}

nav ul {
    display: block;
    margin: 0;
    padding: 0;
    z-index: 5;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li:hover,
nav ul li.actif {
    background-color: #fff;
}

nav ul li:hover a,
nav ul li.actif a {
    color: #000;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}

nav ul li ul li {
    display: none;
}

nav ul li:hover ul li {
    display: block;
    padding: 10px;
    background-color: #000;
}

nav ul li:hover ul li a {
    color: #fff;
}

nav ul li ul li:hover {
    background-color: #fff;
}

nav ul li ul li:hover a {
    color: #000;
}
