.containerForm {
    max-width: 800px;
    margin: 25px auto 0;
    padding: 10px 15px;
}

.containerForm h1 {
    text-align: center;
}

.containerForm form div {
    margin: 10px 0;
}

.containerForm form label {
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
}

.containerForm form input,
.containerForm form textarea {
    width: calc(100% - 230px);
    padding: 5px 10px;
}

.containerForm form button {
    display: block;
    margin: 0 auto;
}
